{% extends "layout.html" %}
{% from "items.html" import render_items %}

{% block title %}
    {{country.label}}
{% endblock %}

{% block description %}
    Information on projects, organisations and datasets in {{country.label}} related 
    to government spending, budgets and revenue. 
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div id="map" class="hidden-xs hidden-sm" style="width: 100%;"
                data-map-links='{{ map_links | tojson() }}'
                data-map-select='{{ country.iso3 }}'></div>
        </div>
        <div class="col-md-8">
            <h1>{{country.label_full}} <small>{{country.un_region}}</small></h1>
            <!--pre>{{country | tojson() }}</pre-->

            {{render_items(library_items)}}
        </div>
    </div>
{% endblock %}
