{% extends "layout.html" %}

{% block title %}
    Countries overview
{% endblock %}

{% block description %}
    Countries for which we collect information on projects, organisations and datasets related 
    to government spending, budgets and revenue.
{% endblock %}

{% block content %}
    <h1>Countries</h1>
    
    <div class="row">
        {% for group in countries.values() | groupby('un_region') %}
            <div class="col-md-4">
                <h3>{{group.grouper}}</h3>
                <ul>
                    {% for country in group.list | sort(attribute='label') %}
                    <li><a href="{{url_for('country', slug=country.slug)}}">{{country.label}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if loop.index % 3 == 0 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>

    <p>
        Regions groupings based on <a href="http://millenniumindicators.un.org/unsd/methods/m49/m49regin.htm">UN regional classifications</a>.
    </p>
{% endblock %}


