{% extends "layout.html" %}

{% block title %}
    Where does the money go in Africa?
{% endblock %}

{% block description %}
    We make the public purse transparent to citizens through data-driven analysis and
    visualization. AfricanSpending also features a survey of budget-related initiatives,
    projects and datasets in African countries.
{% endblock %}

{% block content %}
    AfricanSpending will aim to make government financial information more accessible to
    citizens of African countries.

    <br><br><br><br>
    <a href="#">Also, marblecake</a>

    We explore how digital technology can help journalists, activists and engaged citizens to 
    'follow the money'. 
{% endblock %}


