{% extends "layout.html" %}

{% block title %}
    Where does the money go in Africa?
{% endblock %}

{% block description %}
    We make the public purse transparent to citizens through data-driven analysis and
    visualization. AfricanSpending also features a survey of budget-related initiatives,
    projects and datasets in African countries.
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{{self.title()}}</h1>
            AfricanSpending will aim to make government financial information
            more accessible to citizens of African countries.
        </div>
        <div class="col-md-6">
            <div id="map" style="width: 100%;"></div>
        </div>
    </div>
{% endblock %}


