{% extends "layout.html" %}
{% from "items.html" import render_items %}

{% block title %}
    {{topic.label}}
{% endblock %}

{% block description %}
    Information on projects, organisations and datasets related to {{topic.label}}. {{topic.summary | truncate(80) }}
{% endblock %}

{% block content %}
    <h1>{{topic.label}} <small>Topic</small></h1>
    <div class="row">
        <div class="col-md-4">
            <p class="teaser">{{topic.summary}}</p>

        </div>
        <div class="col-md-8">
            huhu

        </div>
    </div>
{% endblock %}
